<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <nav>
            <ul class="item_list">
                <li class="item"><a class="item_link" href="/">Home Page</a></li>
                <li class="item"><a class="item_link" href="/info">Information Page</a></li>
                <li class="item"><a class="item_link active" href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <h1>This is the Contact Us Page!</h1>
</body>
</html>